html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url('https://image.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg');
}
header {
background-color: white;
text-align: center;
border-bottom: .5rem solid black ;
margin-bottom: 3rem;
}
p{ 
  text-align: center;
}
.display-2 {
  margin-left: 45%;
  /* padding-right: 20%; */
  font-size: 25px;
  position: absolute;
}



th {
  background-color: white;
}

th,
td {
  border-right: 1px solid lightgrey;
}

.time {
    border-left: 1px solid lightgray;
    margin-top: 150px;
}

.input-cell {
    padding: 0px !important;
    position: relative;
}

.input-area {
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    padding: 5px 0px 0px 10px;
    position: absolute;
}

.save-button-cell {
  background-color: rgb(17, 165, 191);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.time,
.save-button-cell {
  width: 5%;
}

#title-date, #title-time {
    margin-top: 5px;
}

.sticky-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
}
footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: rgb(85, 83, 83);
  color: white;
  height: 30px;
  border-bottom-left-radius: 1rem ;
  border-bottom-right-radius: 1rem ;
}